PAKIT_ENVIRONMENT=local
PAKIT_DEBUG=false
PAKIT_API_PREFIX=/api
PAKIT_DATABASE_HOST=localhost
PAKIT_DATABASE_PORT=5432
PAKIT_DATABASE_NAME=pakit
PAKIT_DATABASE_USER=pakit
PAKIT_DATABASE_PASSWORD=
POSTGRES_DB=pakit
POSTGRES_USER=pakit
POSTGRES_PASSWORD=
